.btn {
  all: unset;
  font-family: inherit;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
}
.create {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  background-color: #454545;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.create:hover {
  transition: all 0.3s;
  background-color: #6a6a6a;
}
