* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* 
Barlow
COLORS
color: #454545;

*/
body {
  font-family: "Rubik", sans-serif;
  /* font-family: "Barlow", sans-serif; */
}
main {
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
}
.mt-mid {
  margin-top: 6.4rem;
}
h1 {
  font-family: "Barlow", sans-serif;
  font-size: 4.2rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: #454545;
}
.container {
  max-width: 133rem;
  padding: 0 1.2rem;
  margin-left: auto;
  margin-right: auto;
}
.squarBlogCardContainer,
.smallBlogCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2.4rem;
  /* margin-bottom: 9.6rem; */
}

.letestBlogContainer {
  margin-top: 11rem;
  margin-bottom: 6.4rem;
}
